{% extends "layout.html" %}

{% block content %}
<div class="container" style="background-color: #262626; color: #ffffff; border-radius: 6px;">
    <h1>About us</h1>
    <h3>This website is considered in collecting information on the essentials what people need in urgence<br>
    when a pandemic arises. Now is the time were COVID-19 is rising to make a global crisis<br>
    so this pandemic may result in no supply of our daily essentials, which may be hard for<br>
    many people to go through. This web app takes info like <strong>What you need</strong><br>
    and displays to your locality with the need, phone number and location of yours to get<br>
    you some help on settling your essentials.<br><br>
    With Regards, developers of this Web-App<br><br>
    <span class="label label-primary"><span class="glyphicon glyphicon-ok-sign"></span><a href="https://www.linkedin.com/in/akashjfrost/" target="_blank" style="color: #ffffff;">Akash AJ</a></span> &nbsp;
    <span class="label label-primary"><span class="glyphicon glyphicon-ok-sign"></span><a href="https://www.linkedin.com/in/tayala-rajan/" target="_blank" style="color: #ffffff;">Tayalarajan T R</a></span></h3>
</div><br>

{% endblock %}