{% extends "layout.html" %}

{% block content %}
  
    <div class="posts">
        {% if posts %}
                <div class="container">
                    <div class="well well-sm text-center" ><div class="well well-sm" style="background-color: #262626;"><h1 style="color: #ffffff;"><strong>Your needs</strong></h1></div>
                    {% for key, value in posts.items() %}
                    <h2 class="text-center text-uppercase"><span class="label label-warning"><a style="color: black; text-decoration: none;" href="/post/{{key}}">{{value["need"]}}</a></span></h2>
                    {% endfor %}
                    </div>
                </div>
        {% else %}
            <div class="container">
                <div class="well well-lg"><h3>What? No posts?, Why don't you try adding your own.</h3></div>
            </div>
        {% endif %}
    </div>
{% endblock %}